#body{
    background-color: black;
    width: 97.5px;
    height: 211px;
    border-radius: 8px;
}

#top{
    height: 10px;
}

#display{
    height:80px;
    width: 80%;
    color: white;
    display: flex;
    align-items: end;
    margin: 0px 10px 0px 10px;
}

#displayNumber{
    width: 100%;
    text-align: right;
}

.row{
    margin-bottom: 1px;
    display: flex;
    justify-content: space-evenly;
}

#buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 7%;
}

button{
    width: 18px;
    height: 18px;
    border-radius: 30px;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    transition: 0.3s;
}

#plusMinus, #AC{
    font-size: 0.25em;
}

.digit {
    background-color: #333333;
}

.digit:hover{
    background-color: #737373;
}

.digit:active{
    background-color: #252525;
}

.operator{
    background-color: #ff9f0c;
    color: white;
}

.operator:hover{
    background-color: #fcc78d;
}

.operator:active{
    background-color:#e28c0c;
}

.operator.notEquals:focus{
    background-color: white;
    color:#ff9f0c;
}

.misc {
    background-color: #a5a5a5;
}

.misc:hover{
    background-color: #d9d9d9;
}

.misc:active{
    background-color: #807e7e;
}

#whiteLine{
    background-color: white;
    height: 1.2px;
    width: 33.5px;
    border-radius: 8px;

    margin-left: 32px;
    margin-top: 12px;
}

#zero{
    width: 36px;
    text-align: left;
}