#body{
    background-color: black;
    width: 97.5px;
    height: 211px;
    border-radius: 8px;
}

#top{
    height: 10px;
    position: relative;
}

#top img {
    border-radius: 8px;
}

#clock{
    background-color: black;
    color: white;
    position: absolute;
    font-size: 5px;
    width: 15px;
    margin-top: 5px;
    margin-left: 8px;
    font-weight: 600;
    font-family: Helvetica, 'Trebuchet MS', 'Optima', sans-serif;
}
#display{
    height:80px;
    width: 80%;
    color: white;
    display: flex;
    align-items: end;
    justify-content: end;
    margin: 0px 0px 0px 9.5px;
}

#displayNumber{
    text-align: center;
    font-size: 30px;
    white-space: nowrap;
}

.row{
    margin-bottom: 1px;
    display: flex;
    justify-content: space-evenly;
}

#buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 7%;
}

button{
    width: 18px;
    height: 18px;
    border-radius: 30px;
    border: none;
    color: white;
    text-align: center;
    transition: 0.3s;
    font-size: 10px;
    font-family: Helvetica, 'Trebuchet MS', 'Optima', sans-serif;
}

#plusMinus, #AC{
    font-size: 5px;
    text-align:left;
}

.digit {
    background-color: #333333;
}

.digit:hover{
    background-color: #737373;
}

.digit:active{
    background-color: #252525;
}

.operator{
    background-color: #ff9f0c;
    color: white;
}

.operator:hover{
    background-color: #fcc78d;
}

.operator:active{
    background-color:#e28c0c;
}

.operator.notEquals:focus{
    background-color: white;
    color:#ff9f0c;
}

.misc {
    background-color: #a5a5a5;
    color: black;
}

.misc:hover{
    background-color: #d9d9d9;
}

.misc:active{
    background-color: #949292;
}

#power:focus{
    background-color: white;
    color: #a5a5a5;
}

#whiteLine{
    background-color: white;
    height: 1.2px;
    width: 33.5px;
    border-radius: 8px;

    margin-left: 32px;
    margin-top: 12px;
}

#zero{
    width: 41px;
    text-align: left;
}

h1, h2{
    font-family: 'Times New Roman', Times, serif;
}